body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight:900;
    line-height: 1.5;
}



/* Navigation */

.navbar {
    padding-top:0;
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight:600;
    font-size: 2rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat-light', sans-serif;
    font-size: 1.2rem;
    font-weight:400;
}

.container-fluid {
    padding: 3% 15% 7%;
}



#title {
    background-color: #FABB51;
    /* height: 45rem; */
    /* overflow: hidden; */
    color:white;
    /* position: relative; */
    /* z-index: -1; */
}



/* Download Buttons */
.downloadBtn {
    margin: 5% 3% 5% 0;
}



/* title Image */
.imgContainer {
    position: relative;
}

.phoneImg {
    max-width: 55%;
    /* height:auto; */
    transform: rotate(25deg);
    position: absolute;
    right: 130px;
    /* overflow:hidden; */

}



/* Features section */
#features {
    padding: 3.5% 15%;
    background-color: white;
    position:relative;
    /* z-index:1; */
}

.feature-box {
    margin: 3.5% 0;
    text-align: center;
}

h3 {
    font-family: 'Montserrat';
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

.icon {
    color: #ffd67e;
    margin-bottom:1.5rem;
}

.icon:hover {
    color: #ffb300;
    /* color: #0d6efd; */
}


/* Testimonials */
#testimonials {
    position:relative;
    text-align: center;
    background-color: #ffb300;
    color:white;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
}

em {
    font-size: 1rem;;    
}

.testimonial-image {
    width:10%;
    border-radius: 100%;
    margin:30px;
}

.carousel-item {
    padding:7% 15%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    height:3vw;
    width:3vw;
}



/* press */
#press  {
    background-color: #ffb300;
    text-align: center;
    padding-bottom: 6%;
}

.press-logo {
    width:10%;
    margin: 0 20px 20px;
}



/* pricing */
#pricing {
    text-align: center;
    /* padding:7% 15%; */
    padding:100px;
}

.card {
    padding:0;
    margin:10px;
}

.pricing-col {
    padding: 3% 2%;
}



/* Call to action section */
#cta {
    color: white;
    background-color: #FABB51;
    text-align: center;
    padding: 7% 15%;
}

.finalBtn {
    margin: 5% 1.5% 0;
}



/* Footer */
#footer {
    text-align: center;
    padding: 7vh 0 5vh;
}

.social {
    color: #8f8f8f;
    margin: 10px;
}

.social:hover {
    color: #0d6efd;
}



/* Media queries */
@media (min-width: 991px) and (max-width: 1315px) {
    h1 {
        font-size: 2.5rem;
    }

    h2{
        font-size: 2rem;
    }

    .downloadBtn {
        font-size: small;
    }
    .phoneImg {
        max-width: 70%;
        left: 20px;
    }
    
}

@media (max-width: 991px) {
    .imgContainer {
        position: static;
    }

    .phoneImg {
      position: static;
      transform: rotate(0);
      /* margin-left: 120px */
      margin-top: 25px;
    }

    #title {
        text-align: center;
    }
}